@font-face {
  font-family: "Avatr";
  src: url(./font/origap__.ttf);
}

@font-face {
  font-family: "Nunito";
  src: url(./font/Nunito-Regular.ttf);
}

:root {
  --bg-body: #f7f2ee;
  --bg-color-1: #faedcb;
  --bg-color-2: #c9e4de;
  --bg-color-3: #c6def1;
  --bg-color-4: #dbcdf0;
  --bg-color-5: #f2c6de;
  --bg-color-6: #f7d9c4;
}

body {
  min-height: 100vh;
  background-color: var(--bg-body);
  font-family: "Nunito";
  font-size: 13px;
}

.main {
  margin: 3rem auto;
  //   background-color: lightblue;
  height: 100vh;
  max-width: 600px;
  display: flex;
  justify-content: center;
}

.card {
  background-color: white;
  border-radius: 8px;
  height: 450px;
  width: 450px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 1rem;
  row-gap: 0.5rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.font-avatr {
  font-family: "Avatr";
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5rem;
}

.pix {
  width: 200px;
  height: 200px;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  background-color: black;
  .pixel {
    height: 2px;
    width: 2px;
  }
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
}

.controls-options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 0.5rem;
}

.selected-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.swatch {
  height: 30px;
  width: 30px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  &:hover {
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }
}

button {
  &:hover {
    cursor: pointer;
  }
  border-radius: 50%;
  height: 24px;
  width: 24px;
  background-color: silver;
  border: none;
}

h1 {
  font-size: 50px;
  margin: 0;
  margin-block-end: 0;
  margin-block-start: 0;
}

h3 {
  margin: 0;
  font-size: 16px;
}

.bg-1 {
  background-color: var(--bg-color-1);
}

.bg-2 {
  background-color: var(--bg-color-2);
}

.bg-3 {
  background-color: var(--bg-color-3);
}

.bg-4 {
  background-color: var(--bg-color-4);
}

.bg-5 {
  background-color: var(--bg-color-5);
}

.bg-6 {
  background-color: var(--bg-color-6);
}
