@import "../../node_modules/nes.css/css/nes.css";

@font-face {
  font-family: "PressStart2P";
  src: url(./font/PressStart2P-Regular.ttf);
}

:root {
  --bg-body: #f7f2ee;
  --bg-color-1: #faedcb;
  --bg-color-2: #c9e4de;
  --bg-color-3: #c6def1;
  --bg-color-4: #dbcdf0;
  --bg-color-5: #f2c6de;
  --bg-color-6: #f7d9c4;
}

@keyframes move-it {
  0% {
    background-position: initial;
  }
  100% {
    background-position: 100px 0px;
  }
}

body {
  background: repeating-linear-gradient(
    45deg,
    whitesmoke,
    whitesmoke 5%,
    Gainsboro 5%,
    Gainsboro 10%
  );
  background-size: 100px 100px;
  animation: move-it 12s linear infinite;
  font-family: "PressStart2P";
  font-size: 11px;
  font-weight: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.main {
  height: 100vh;
  min-width: 460px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1rem;
}

.grid-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 1rem;
}

.accessories-item {
  grid-row-start: 1;
  grid-row-end: span 2;
  grid-column-start: 4;
  grid-column-end: 5;
  // background-color: #2789cd;
}

.eyes-item {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 3;
  // background-color: #2789cd;
}

.hair-item {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 4;
  // background-color: #2789cd;
}

.container-item {
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.nes-container {
  background-color: white;
  flex: 1;
}

// @ COLORS
@import url("./colors.scss");

.swatch {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 3px dashed black;
}

.preview {
  position: relative;
  display: flex;
  // background-color: #a1cbed;
  height: 130px;
  // min-width: 230px;

  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.eyes,
.skin,
.nose,
.mouth,
.hair,
.ears,
.accessories,
.glasses {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  // background-color: #a1cbed;
  flex-direction: column;
  // width: 100%;
  flex: 1;
  justify-content: center;
  align-items: center;
  // background-color: #391c18;
}

.app-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 0.5rem;
}

.name {
  font-size: 25px;
  line-height: 0.9;
}

.author {
  font-size: 9px;
}

.social {
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
}

:disabled {
  pointer-events: none;
  opacity: 0.2;
}
