@import "../../node_modules/nes.css/css/nes.css";

@font-face {
  font-family: "PressStart2P";
  src: url(./font/PressStart2P-Regular.ttf);
}

:root {
  --bg-body: #f7f2ee;
  --bg-color-1: #faedcb;
  --bg-color-2: #c9e4de;
  --bg-color-3: #c6def1;
  --bg-color-4: #dbcdf0;
  --bg-color-5: #f2c6de;
  --bg-color-6: #f7d9c4;
}

@keyframes move-it {
  0% {
    background-position: initial;
  }
  100% {
    background-position: 100px 0px;
  }
}

body {
  background: repeating-linear-gradient(
    45deg,
    #c6def1,
    #c6def1 5%,
    #a1cbed 5%,
    #a1cbed 10%
  );
  background-size: 100px 100px;
  // animation: move-it 3s linear infinite;
  font-family: "PressStart2P";
  font-size: 11px;
  font-weight: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.main {
  height: 100vh;
  min-width: 460px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  // padding-top: 160px;
  // margin-left: 12rem;
  // margin-right: 12rem;
  row-gap: 2rem;
  // justify-content: center;
  // padding: 2.5rem;
  // background-color: red;
}

header {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // column-gap: 1rem;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;

  background-color: #c6def1dd;

  .subpippo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .name {
    font-size: 25px;
    line-height: 0.9;
  }

  .author {
    font-size: 9px;
  }
}

main {
  // margin-top: 80px;
  // background-color: gainsboro;
  width: 100%;
  height: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  // background-color: #2196f3;
  gap: 30px;
  padding: 10px;
  // height: 100%;
}

.grid-item {
  background-color: rgba(255, 255, 255, 1);
  // padding: 20px;
}

.bg-1 {
  background-color: var(--bg-color-1);
}

.bg-2 {
  background-color: var(--bg-color-2);
}

.bg-3 {
  background-color: var(--bg-color-3);
}

.bg-4 {
  background-color: var(--bg-color-4);
}

.bg-5 {
  background-color: var(--bg-color-5);
}

.bg-6 {
  background-color: var(--bg-color-6);
}

.bg-clear {
  width: 100%;
  // height: 100%;
  background-size: 50px 50px;
  background-image: linear-gradient(
      45deg,
      silver 25%,
      transparent 25%,
      transparent 75%,
      silver 75%,
      silver
    ),
    linear-gradient(
      45deg,
      silver 25%,
      transparent 25%,
      transparent 75%,
      silver 75%,
      silver
    ),
    linear-gradient(
      45deg,
      #e0e0e0 25%,
      transparent 25%,
      transparent 75%,
      #e0e0e0 75%,
      #e0e0e0
    ),
    linear-gradient(
      45deg,
      #e0e0e0 25%,
      transparent 25%,
      transparent 75%,
      #e0e0e0 75%,
      #e0e0e0
    );
  background-position: 0 0, 25px 25px, 25px 0, 0 25px;
}

.bg-7 {
  background-color: #fff;
}

// .swatch {
//   padding: 0.44rem 0.8rem;
//   border-radius: 50%;
//   border: 3px dashed black;
// }

// .swatches {
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   column-gap: 0rem;
//   flex-wrap: wrap;
// }

// .swatches {
//   label {
//     padding: 0.5rem 0;
//   }
// }
